:root {
  --dark-green: #11483d;
  --light-green: #2e9981;
  --orange: #f7963d;
  --border-radius-sm: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.w-33 {
  width: 32.333%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.d-inline-block {
  display: inline-block;
  margin: 0 -4px;
}

/* Define unities */
.m-1 {
  margin: 1vw;
}

.mb-1 {
  margin-bottom: 1vw;
}

.pb-2 {
  padding-bottom: 2vw;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.bg-pink {
  background: pink;
}

.bg-dark {
  background: #333;
}

.text-black {
  color: black;
}

.text-orange {
  color: orange;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  margin: 0 3vw 0;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 1vw;
}

.col-4 {
  width: calc(100% / 4);
}

.border-radius-sm {
  border-radius: var(--border-radius-sm);
}

.w-50 {
  width: 50%;
}

.badge-warning {
  background: var(--orange);
  color: white;
  display: inline-block;
  padding: 0.5vw;
  border-radius: var(--border-radius-sm);
}

@media (min-width: 768px) {
  .col-md-4 {
    width: calc(100% / 4);
  }
}

header > * {
  margin: 1vw 3vw 0;
}

.top-nav {
  background-color: var(--dark-green);
  display: flex;
  width: 100%;
  margin: auto 0;
}

.top-nav ul {
  display: flex;
  align-items: center;
  height: 2vw;
  margin-left: auto;
  margin-right: 3vw;
}

.top-nav ul li {
  margin-left: 1vw;
}

.top-nav ul li a:hover {
  color: var(--light-green);
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2vw;
  margin-top: 2vw;
}

.heading .heading__logo {
  flex-basis: 20%;
}

.heading .heading__search {
  flex-basis: 55%;
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.heading .heading__search input {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 10px 45px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 45px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 45px -9px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: black;
  padding: 1.5vw;
  /* border: solid 1px red; */
}

.heading .heading__search button {
  position: absolute;
  right: 0;
  background: var(--dark-green);
  padding: 1.5vw;
  border-radius: 10px;
}

.heading .heading__search input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
}

.heading .heading__btn-check-oder {
  flex-basis: 10%;
  background: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  border-radius: 10px;
  cursor: pointer;
}

.heading .heading__btn-check-oder:hover {
  background: var(--light-green);
}

.heading .heading__btn-check-cart {
  flex-basis: 10%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .heading__btn-check-cart i {
  font-size: 3vw;
  color: var(--dark-green);
}

/* styling for product-nav */

.product-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2vw;
  position: relative;
  margin-top: 3vw;
  background: var(--dark-green);
  border-radius: 10px;
}

ul.product-nav > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}

ul.product-nav > li > a > span {
  margin-top: 0.5vw;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.product-nav > li::after {
  content: "";
  display: block;
  height: 0.3vw;
  background: var(--orange);
  visibility: hidden;
}

.product-nav > li:hover:after {
  visibility: visible;
}

.product-nav li a i {
  font-size: 2vw;
}

/* style for product-nav__sub */

.product-nav li a + .product-nav__sub * {
  color: black;
}

.product-nav li a + .product-nav__sub {
  position: absolute;
  left: 0;
  display: none;
  background: white;
  width: 100%;
  z-index: 3;
  padding: 1vw;
  margin-top: 0.5vw;
  border-radius: 10px;
  box-shadow: 0 2px 10px white, 0 2px 10px black;
}

.product-nav > li:hover .product-nav__sub {
  display: flex;
}

.product-nav li a + .product-nav__sub li {
  padding: 0.3vw;
}

.product-nav .product-nav__sub .product-nav__sub__col * {
  color: black;
}

/* slyle for slider */
.slider {
  margin-top: 1vw;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* overflow: auto; */
  height: 30vw;
  border-radius: 10px;
  /* background: pink; */
}

.slider .slider__image {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 1s;
}

.slider .slider__image:not(:first-child) {
  visibility: hidden;
  /* visibility: visible; */
}

.slider .slider__btn-next,
.slider .slider__btn-previous {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  background: rgba(255, 255, 255, 0.3);
  font-size: 2vw;
  border-radius: 50%;
  color: black;
  cursor: pointer;
}

.slider .slider__btn-next:hover,
.slider .slider__btn-previous:hover {
  background: rgba(255, 255, 255, 0.5);
}

.slider .slider__btn-next > *,
.slider .slider__btn-previous > * {
  color: black;
}

.slider .slider__btn-next {
  right: 2vw;
}

.slider .slider__btn-previous {
  left: 2vw;
}

/* style for ads */

.ads {
  margin-top: 1vw;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
}

.ads .ads__item {
  display: inline-block;
  border-radius: 0.5vw;
  padding: 1vw;
  background-color: white;
  color: rgb(88, 84, 84);
  box-shadow: 1px 1px 10px black;
  font-weight: 800;
  flex-basis: 24%;
}

.ads .ads__item.active {
  background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%) 0% 0%
    no-repeat;
  color: white;
  box-shadow: none;
}

/* slyte for quick-sale */
.quick-sale {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-sale .quick-sale__item {
  flex-basis: 24.5%;
}

.quick-sale .quick-sale__item img {
  width: 100%;
}

/* style for footer */
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 1vw;
  background: var(--dark-green);
  padding: 1vw;
}

.footer .footer__col {
  flex-basis: calc(100% / 6);
}

.hotline {
  display: inline-block;
  background: white;
  color: var(--dark-green);
  padding: 0.5vw;
  border-radius: 0.5vw;
  font-size: large;
  font-weight: bold;
}

/* syle for product-zone */

.product-zone {
  display: flex;
  flex-direction: column;
}

.product-zone .product-zone__title {
  background: darkcyan;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 1vw;
}

.product-zone .product-zone__body {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background: #222; */
}

.product-zone .product-zone__body .product-zone__body__product {
  background: white;
  box-shadow: 0 0 10px black;
  margin: 1vw;
  padding: 1vw;
  width: calc((100% - 2vw * 5) / 5.0729);
  color: black;
  height: 30vw;
  overflow: hidden;
}

.product-zone .product-zone__body__product__image {
  width: 100%;
  height: 40%;
  object-fit: contain;
  /* background-color: lightblue; */
}

.product-zone .product-zone__body__product__name {
  width: 100%;
  height: 30%;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  /* background: gold; */
}

.product-zone .product-zone__body__product__cost {
  display: flex;
  width: 100%;
  height: 10%;
  /* background: green; */
}

.product-zone .product-zone__body__product__cost__disconted {
  font-weight: bold;
  text-align: center;
  flex: 50%;
  color: tomato;
}

.product-zone .product-zone__body__product__cost__orgigin {
  flex: 50%;
  text-align: center;
  text-decoration: line-through;
  font-weight: lighter;
  color: black;
}

.product-zone .product-zone__body__product__ads {
  /* height: 10%; */
  color: black;
  /* background: red; */
  overflow: auto;
}
